$arrow-width: 10px !default;
$light-blue: #184684;
$black: #000;
$white: #fff;
$yellow: #fdba12;
$orange: #df6800;
$dark-blue: #002f71;
$light-blue: #184684;
$dark-blue2: #083a79;
$grey: #444444;
$blue-text: #157ab1;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);