/* You can add global styles to this file, and also import other style files */
@import "src/styles/variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';



body {
  font-size: 16px;
}

.bg-blue-grad {
  background-image: linear-gradient(to right, $dark-blue , $light-blue, $dark-blue);
}

.color-primary { 
  color: $blue-text;
}
.color-accent { 
  color: $orange;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}

.nav-title {
  color: white;
}

#accordion {
  width: 500px;
  .btn{
    color:rgba(20,20,20, .8);
    outline: none;
  }
  .debit{
    background-color: rgba(225,0,0,.6)
  }
  .credit{
    background-color: rgba(10,225,0,.6)
  }
}
