<div class="container-fluid">
  <div class="d-flex justify-content-center">

    <div id="accordion">
      <div class="card" *ngFor="let transaction of transactions">
        <div class="card-header" [ngClass]="transaction.type">
          <h5 class="mb-0">
            <button class="btn w-100 d-flex justify-content-around" (click)="transaction.hidden=!transaction.hidden">
              <span class="pr-2">Tipo:{{transaction.type}}</span><span>Monto: {{transaction.amount}}</span>
            </button>
          </h5>
        </div>
    
        <div [hidden]="transaction.hidden" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body w-100 flex-column d-flex justify-content-around">
            <span>
              Fecha:
              {{transaction.effectiveDate}}
            </span>
            <span>
                Id:
                {{transaction.id}}
              </span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>